.authCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 57vh;
  width: 100%;
}

.form {
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
}

.formButton {
  cursor: pointer;
  width: 50%;
  text-transform: uppercase;
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: var(--title);
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
