.authCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 53vh;
  width: 100%;
}

.form {
  min-height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vh;
}

.formButton {
  cursor: pointer;
  width: 50%;
  text-transform: uppercase;
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: var(--title);
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .form {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 50%;
  }
}
