.card {
  height: 53vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: var(--text);
}
.minimalInfo {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0.2rem;
}
.info {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}

.poster {
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: var(--title);
}

.subtitle {
  margin: 0;
  text-align: left;
  font-size: var(--text);
}
.company {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0 0.3rem 0;
}
.logo {
  min-width: 10%;
  height: 25px;
}

.voteAverage {
  color: var(--primary-color);
}
