.card {
  height: 60vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: var(--text);
}
.minimalInfo {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0.2rem;
}
.info {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
}

.poster {
  max-width: 185px;
  max-height: 280px;
  width: 100%;
  border-radius: 10px;
}

.title {
  margin: 0.3rem 0 0 0;
  text-align: center;
  font-size: var(--title);
}

.subtitle {
  margin: 0;
  text-align: left;
  font-size: var(--text);
}
.company {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem 0 0.3rem 0;
}
.logo {
  min-width: 10%;
  height: 25px;
}

.overview {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.tagline {
  font-weight: bolder;
  margin: 0 0 0.5rem 0;
  text-align: center;
  font-size: var(--text);
  font-style: italic;
}

.description {
  overflow-y: scroll;
  margin: 0;
  width: 100%;
  height: fit-content;
  white-space: normal;
  word-wrap: break-word;
  font-size: var(--text);
}

@media (min-width: 768px) {
  .card {
    min-height: fit-content;
    grid-template-rows: 1fr;
  }
  .poster {
    max-height: 450px;
    max-width: 300px;
  }
  .poster {
    align-self: start;
  }
}
@media (min-width: 1024px) {
  .company {
    justify-content: start;
  }
  .logo {
    min-width: 0;
    /* max-width: 100%; */
    height: 50px;
  }
  .minimalInfo {
    grid-template-columns: 30% 69%;
    gap: 1%;
  }
}
