.app {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}
.container {
  margin-top: 18vh;
  overflow-y: hidden;
  position: relative;
  min-height: fit-content;
  width: 90vw;
  padding-bottom: 5vh;
}
