.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.container {
  margin-top: 25vh;
  overflow-y: hidden;
  position: relative;
  min-height: 60vh;
  width: 90vw;
  padding-bottom: 5vh;
}

@media (min-width: 768px) {
  .container {
    width: 80vw;
  }
}
