.fav {
  /* cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background: var(--secondary-color);
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 75%;
  top: 58%; */
  background: none;
  cursor: pointer;
  border: none;
}

.fav:hover {
  background: none;
}

.fav > svg {
  transition: all 0.3s ease-in-out;
  font-size: var(--icon);
  color: var(--secondary-color);
}

.fav > svg:hover {
  color: var(--detail-color);
}
