.header {
  min-height: 25vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.content {
  width: 90%;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.content > img {
  width: 200px;
  height: 50px;
}
