.footer {
  width: 100%;
  min-height: 20vh;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--footer-text);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.info > p {
  margin: 0;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: var(--icon);
}

.link {
  color: var(--primary-color);
  text-decoration: none;
}
