.formLabel,
.formInput {
  padding: 0;
  width: 90%;
  display: block;
}

.formInput {
  caret-color: var(--secondary-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  height: 2rem;
}
.formInput:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}
