.formLabel,
.formInput {
  padding: 0;
  width: 100%;
  display: block;
}

.formLabel {
  width: 95%;
}

.inputContainer {
  width: 95%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
}
.inputContainer > svg {
  color: var(--secondary-color);
  font-size: var(--icon);
  padding-right: 0.5rem;
}
.formInput {
  height: 100%;
  font-size: var(--text);
  caret-color: var(--secondary-color);
  opacity: 0.5;
  padding-left: 0.5rem;
  border: none;
}
.formInput:focus {
  outline: none;
  border: none;
}
/* 
@media (min-width: 1024px) {
  .formInput {
    height: 100%;
  }
  .inputContainer {
    height: 3rem;
  }
} */
