.formLabel,
.formInput {
  padding: 0;
  width: 100%;
  display: block;
}

.formLabel {
  width: 95%;
}

.inputContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  height: 2rem;
}
.inputContainer > svg {
  color: var(--secondary-color);
  font-size: var(--icon);
  padding-right: 0.5rem;
}
.formInput {
  caret-color: var(--secondary-color);
  opacity: 0.5;
  padding-left: 0.5rem;
  border: none;
}
.formInput:focus {
  outline: none;
  border: none;
}
