.authBar {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.login,
.signUp,
.user {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 5rem;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

svg {
  font-size: var(--text);
}

a,
a:visited,
a:active,
a:hover,
a:focus,
a:link {
  text-decoration: none;
}
.login > a,
.login > svg {
  color: var(--secondary-color);
}

.signUp {
  background: var(--secondary-color);
}
.signUp > a,
.signUp > svg {
  color: var(--primary-color);
}

.authLink {
  background: var(--secondary-color);
  text-align: center;
  color: var(--primary-color);
}

.user {
  text-align: center;
  color: var(--secondary-color);
  width: 8rem;
}

.user > p {
  margin: 0;
}

.menu {
  z-index: 999;
  background: var(--secondary-color);
  width: 9rem;
  min-height: fit-content;
  position: absolute;
  top: 1.55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

.menu > a,
.menu > p {
  font-size: var(--text);
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: var(--primary-color);
}
.menu > a,
.menu > p {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  place-items: center;
  /* gap: 2rem; */
}
.menu > p {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}
